@tailwind base;
@tailwind components;
@tailwind utilities;

/* Track */
/* .cus-scrollbar-one::-webkit-scrollbar-track {
  width: 10px !important;
  display: none;
} */

@font-face {
  font-family: digital;
  src: url('/fonts/DS-DIGI.TTF');
}



.cus-scrollbar-one::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
 
/* Handle */
.cus-scrollbar-one::-webkit-scrollbar-thumb {
  background: rgb(255, 175, 175);
  border-radius: 10px;
}

input::placeholder{
  font-size: calc(0.7rem + 0.25vw);
}



.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
  background-color: white;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
  z-index: 99;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.dropdown-tag-close {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 5px;
  background-color: #eee;
}

.search-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.animated-slide-up{
  animation: slide_up 1s ease;
}

.grad-one{
  background: linear-gradient(140.88deg, #EB5231 -29.15%, #571FCF 151.64%),
  linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));

}

.slick-dots li button::before{
  border: 2px solid white !important;
  content: '' !important;
  padding: 0 !important;
  border-radius: 100%;
  width: 7px !important;
  height: 7px !important;
  margin: 0 !important;
}

.slick-dots{
  position: relative !important;
  display: flex !important;
  align-items: start !important;
}

.slick-dots li button{
  width: 7px !important;
  height: 7px !important;
  padding: 0 !important;
}

.slick-dots li{
  width: 7px !important;
  height: 7px !important;
}



.slick-active button::before{
  opacity: 1 !important;
  background-color: white !important;
}


@keyframes slide_up {
  0%{
    transform: translateY(100%);
    opacity: 0;
  }100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide_up_fast {
  0%{
    transform: translateY(5%);
    opacity: 0;
  }100%{
    transform: translateY(0);
    opacity: 1;
  }
}